<header id="header" {{# if class }} class="{{ class }}" {{/ if }}>
  <div class="logo"><a href="/">Node course <span>by Eliecer David</span></a></div>
  <a href="#menu"><span>Menu</span></a>
</header>
